.footer {
  background: linear-gradient(135deg, #0b0b0f, #1a1a24); /* Negro carbón + azul oscuro */
  color: #eaeaf5; /* Texto claro y suave */
  padding: 40px 30px;
}

.container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 40px;
  align-items: start;
  font-family: "Bebas Neue", sans-serif;
}

/* IZQUIERDA */
.Izq h3 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
  color: #5a5a63; /* Gris oscuro */
}

.Izq p {
  margin-bottom: 5px;
  text-align: center;
  color: #e3e3ed; 
}

.email,
.phone {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

/* SOCIAL — CENTRO BRILLANTE */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px 40px;
  border-left: 2px solid #ffffffcc;  /* Blanco brillante translúcido */
  border-right: 2px solid #ffffffcc;
}

.icon {
  width: 45px;
  height: 45px;
  background: #949191; 
  border-radius: 50%;
  
}

/* DERECHA */
.Derech {
  text-align: center;
}

.Derech h3 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #5a5a63; /* Gris oscuro */
}

.Derech p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #e3e3ed;
}

/* BOTTOM BAR */
.bottom {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.85;
  color: #eaeaf536;
}
